body {
  background: linear-gradient(to bottom, #4c6de4, #a173ed, #f8f8f8);
}

h1 h2 {
  text-align:center;
}

h1 {
  color: #002147;
  font-size: 48px; 
  font-family: Arial, sans-serif; 
}

h2 {
  color: #0055a5;
  font-size: 36px;
  font-family: Arial, sans-serif; 
}

p {
  color: #333;
  font-size: 18px; 
  font-family: Arial, sans-serif;
}

ul li {
  color: #333; 
  font-size: 18px; 
  font-family: Arial, sans-serif;
}

footer {
  background-color: #4B7B9F;
  padding: 20px;
  color: white;
  font-size: 14px;
  background: linear-gradient(to bottom, #4B7B9F, #C7D5E0);
}

footer a {
  color: #fff; 
  text-decoration: none;
}

